<link href="~/Content/web/css/fontawesome-all.css" rel="stylesheet" />
<script src="~/Content/web/js/bootstrap.js"></script>
<link href="~/Content/web/css/bootstrap.css" rel="stylesheet" />

<header>
    <!-- header inner -->
    <div class="header-top">
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="col-md-4 logo text-left">
                                    <a style="color:white" class="navbar-brand" href="/Home/Index/">
                                        <i class="fab fa-linode"></i>SİPOTİFAY
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-9">

                        <div class="menu-area">

                            <div class="limit-box">
                                <nav class="main-menu ">
                                    <ul class="menu-area-main">
                                        <li class="active"> <a href="/Home/Index">ANASAYFA</a> </li>

                                        <li> <a href="/About/Index">HAKKIMIZDA</a> </li>
                                        <li> <a href="/Sarkicilar/Index">ŞARKICILAR </a> </li>
                                        <li> <a href="/Albumler/Index">ALBÜMLER </a> </li>
                                        <li> <a href="/Sarkilar/Sarki_Listele">SARKI DİNLE</a> </li>
                                        <li> <a href="/Iletisim/Index">İLETİŞİM</a> </li>
                                        <li> <a href="/Yonetim/Index">YÖNETİM</a> </li>


                                        <li style="visibility:hidden"> <a class="last_manu" href="#"><img src="~/Content/entro/images/search_icon.png" alt="#" /></a> </li>

                                    </ul>
                                </nav>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
        <!-- end header -->
        <section class="slider_section">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

                </ol>
                <div class="text-bg">
                    <span>MÜZİĞİ</span>
                    <h1>DAMARLARINDA HİSSET !</h1>
                    <p>BİRBİRİMİZE  TUTUNURSAK  BELKİ  GÜNEŞ  DOĞABİLİR... </p>
                    <a href="#">ŞARKI DİNLE</a>
                </div>
            </div>
        </section>
    </div>
</header>

