@using Entity_Layer.Concrete
@model List<Iletisim>
@{
    ViewBag.Title = "Iletisim_Liste";
    Layout = "~/Views/Shared/Yonetim_Layout.cshtml";
}

<div style="margin-left: 20px" class="container">
    <a href="/Iletisim/Guncelle" target="_blank">
        <button style="margin-top:20px;margin-left:20px; width:150px;height:50px" class="btn btn-primary">GÜNCELLE</button>
    </a>
</div>

<br />


<div style="margin:70px;">
    <h1> ADRES:</h1>
    <p > @Model[0].Iletisim_Adres</p>


    <br />
    <br />
    <br />


    <h1> TELEFON:</h1>
    <p> @Model[0].Iletisim_Tel</p>


    <br />
    <br />
    <br />

    <h1> MAİL:</h1>
    <p> @Model[0].Iletisim_Mail</p>
</div>