
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Yonetim_Layout.cshtml";
}

<h2>İSTATİSTİKLER</h2>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="d-flex justify-content-center">
                <button style="margin-left:10px" class="btn btn-primary btn-lg rounded-circle mr-4"><h1>ALBÜM SAYI</h1>@ViewBag.albumsayi</button>
                <button style="margin-left: 10px"class="btn btn-secondary btn-lg rounded-circle"><h1>SANATCI SAYI</h1>@ViewBag.sarkicisayi</button>
            </div>
            <div class="d-flex justify-content-center">
                <button  style="margin-left:10px" class="btn btn-success btn-lg rounded-circle mr-4"><h1>ŞARKI SAYI</h1>@ViewBag.sarkisayi</button>
                <button  style="margin-left:10px" class="btn btn-danger btn-lg rounded-circle"><h4>EN ÇOK</h4><h2>DİNLENEN</h2><h1>ŞARKI</h1>@ViewBag.encokdinlenen</button>
            </div>
        </div>
    </div>
</div>

<style>
    button {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border: none;
        margin: 10px;
    }
</style>

